:root {
  --primary: #ff6464;
  --secondary: #00a8cc;
  --dark: #21243d;
  --light: #8695a4;
  --white: #ffffff;
}

html {
  scroll-behavior: smooth;
}

/* Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

/* Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* Default font */
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;

  /* Add accessible line-height */
  line-height: 1.5;

  /* Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  margin-left: 10%;
  margin-right: 10%;
}

/* Header Nav */
header {
  background-color: var(--white);
  margin-bottom: 4.438rem;
}

header > nav > ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 2.063rem;
  margin-top: 1.688rem;
  margin-bottom: 1.688rem;
}

header > nav > ul > li > a {
  text-decoration: none;
  color: var(--dark);
  font-weight: 500;
  font-size: 1.25rem;
  font-style: normal;
}

header > nav > ul > li > a:hover {
  text-decoration: underline;
}

article {
  margin-left: 6rem;
  margin-right: 6rem;
}

/* Header Banner */
.banner {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.banner__left-text {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.banner__left-text > h1 {
  font-weight: bold;
  font-style: normal;
  font-size: 2.75rem;
  line-height: 3.75rem;
}

.banner__left-text > p {
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
}

.banner__left-text > a {
  text-decoration: none;
  font-size: 1.25rem;
  color: var(--white);
  background-color: var(--primary);
  border: 0;
  width: 13rem;
  padding: 1rem 1.25rem 1rem 1.25rem;
  border-radius: 0.125rem;
}

.banner__image > img {
  border-radius: 100%;
}

/* Main */
.recent-post {
  background-color: #edf7fa;
  display: flex;
  flex-direction: column;
  border-radius: 0.125rem;
  margin-bottom: 4.438rem;
}

.recent-post__header {
  margin: 0 1rem 0 1rem;
  padding: 1rem 0 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recent-post__header > h1 {
  color: var(--dark);
  font-size: 1.375rem;
}

.recent-post__header > a {
  font-size: 1rem;
  color: var(--secondary);
  text-decoration: none;
}

.recent-post__posts {
  display: flex;
  justify-content: center;
  margin: 1rem 1rem;
  gap: 1rem;
}

.recent-post__posts > section {
  width: 26.125rem;
  height: 18.438rem;
  padding: 1.5rem 1.5rem;
  border-radius: 0.25rem;
  background-color: var(--white);
}

/* Featured Work */
.featured-work {
  display: flex;
  flex-direction: column;
  margin-bottom: 4.438rem;
}

.featured-work__header {
  color: var(--dark);
  font-size: 1.375rem;
  margin-bottom: 2rem;
}

.featured-work__list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.featured-work__list > section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.featured-work__list > section > h1 {
  font-size: 1.875rem;
}

.contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 4.438rem;
}

.contact__header {
  color: var(--dark);
  font-size: 1.375rem;
  margin-bottom: 2rem;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact__form > div {
  display: flex;
  flex-direction: column;
}

.contact__form > div > input {
  border-radius: 0.25rem;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

footer > ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-inline-start: 0;
}

footer > ul > li {
  list-style-type: none;
}

footer > h1 {
  color: var(--dark);
  font-size: 0.875rem;
}

footer > h1 > a {
  color: var(--primary);
  text-decoration: none;
}

/* Under Maintenance Announcement */

.maintenance {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  > h1 {
    font-size: 3rem;
  }
}

.img__maintenance {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
