* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  justify-content: center;
}

.container {
  width: 60%;
}

header {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

main {
  margin-bottom: 2rem;
}

.main-home {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.left-profile {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.main-home .right-profile {
  width: 70%;

  > p {
    text-align: justify;
  }
}

header > h1 > a {
  text-decoration: none;
}

.active {
  text-decoration: underline;
  color: red;
}

.menu {
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;

  > li {
    list-style: none;

    > a {
      text-decoration: none;
    }

    > a:hover {
      text-decoration: underline;
    }
  }
}

footer {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}
